@import "./src/assets/styles/theme";

.task-card{
  border-radius: 10px;
  padding: $md;
  background-color: white;
  color: $font-color;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  min-height: 200px;

  .task-heading {
    padding: 4px 0;

    .user {
        background-color: $primary-color;
        color: white;
        padding: 2px 8px;
        border-radius: 100px;
    }
  }

  .task-content {
    min-height: 120px;
    margin-top: $sm;
  }

  .description{
    margin-top: $sm;
  }
}

.project-card:hover {
  background: rgba(0, 0, 0, 0.04);
}