@import "../../assets/styles/theme";

section.client {
  height: $extension-height;
  width: $extension-width;
  margin: auto;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
  position: relative;
  background: $background-color;
  font-size: $xs;

  .sidebar {
    .logo {
      .thin-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.9999998807907104px;
        text-align: left;
      }
    }

    .menu {

      .menu-items {
        padding: $sm 0;

        .menu-item {
          font-size: $sm;
          margin-bottom: $xs;
          padding: $xs;
          border-radius: $sm;
        }
      }
    }
  }

  .content-area {
    width: 75%;
    padding: $md;
    color: $font-color;

    .sub-title, .title{
     color: $primary-color;
    }
    .top-bar {
      height: 10%;
      background: white;
      border-radius: $md;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $xl;
      .greeting{
        font-size: $md;
        font-style: normal;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: 0.9999998807907104px;
        text-align: left;
      }
      .profile-image{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $primary-color;
        overflow: hidden;
      }
    }
    .content{
      margin-top: $xs;
      background: white;
      border-radius: $md;
      height: 88%;
    }
  }
}
