@import '../../assets/styles/layout.scss';

.list-table {

    .table-header {
        display: flex;
        background-color: $primary-color;
        color: white;
        padding: 10px;
    }

    .table-body {

        .table-row {
            display: flex;
            padding: 10px;
            border-bottom: 1px solid #d6d7dc;
        }
    }
}