@import "./src/assets/styles/theme";

.project-card{
  border-radius: 10px;
  padding: $md;
  background-color: white;
  color: $font-color;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  height: fit-content;
  cursor: pointer;

  .project-title {
    border-bottom: 1px solid #D9DBE9;
    padding: 8px 0;
  }

  .project-content {
    margin: $md 0;

    .time-spent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .detail{
    margin-top: $md;
  }
}

.project-card:hover {
  background: rgba(0, 0, 0, 0.04);
}