@import "../../assets/styles/theme";
.toaster {
  position: fixed;
  z-index: 999999;
  padding: 10px;
  @extend %card;
  background: white;
  top: 0;
  right: 16px;

  &.success {
    background: $success-color;
    color: white;
  }

  &.error {
    background: $danger-color;
    color: white;
  }

  &.on {
    transform: translateY(80%);
    opacity: 1;
  }

  &.off {
    transform: translateY(0);
    opacity: 0;
  }
}
