@import '../../assets/styles/layout.scss';

.page-title-section {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;

  .page-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
}

.dashboard-body {
  width: 100%;
}

.dashboard-screen {
    display: flex;
    height: 85vh;

    .worker-project {
      display: flex;
      flex-direction: column;
      width: 70%;

      .worker-time {
        margin : 10px;

        .info-bar{
          text-align: center;
          padding: 20px;
          background-color: $light-color;
          width: 45%;
          display: flex;
          flex-direction: column;
          font-weight: 600;
          font-size: 18px;
          border-radius: 8px;
        }
      }

      .running-projects {
        min-height: 40%;
        overflow: auto;
      }

      .this-week {
        background-color: $light-color;
        margin: 1em;
        flex: 1;
      }
    }

    .card-title {
      font-size: 1.25rem;
      margin: 0.8em 1em;
    }

    .list-table-section {
      background-color: $light-color;
      border-radius: 8px;
      margin : 1em;

      .view-all-btn {
        display: flex;
        justify-content: center;
        padding: 0.8em;

        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
    }

    // .info-bar-model{
    //   text-align: center;
    //   padding: 20px;
    //   background-color: rgb(203, 203, 206);
    //   width: 34vw;
    //   display: flex;
    //   flex-direction: column;
    //   font-weight: 600;
    //   font-size: 18px;
    //   color: white;
    // }

    .worker-list {
      width: 30%;

      .top-workers {
        background-color: $light-color;
        border-radius: 8px;
      }

      .best-worker {
        background-color: $light-color;
        margin: 1em;
        min-height: 140px;

        .best-worker-image {
          height: 50px;
          width: 50px;
          margin: 0 1em;

          img {
            width: 100%;
          }
        }

        .best-worker-info {

          .worker-info {
            padding: 2px 0;
          }
        }
      }

      .average-hours {
        background-color: $light-color;
        margin: 1em;
      }
    }
}

.user-list {
  width: 100%;
}

.admin-projects {

  .project-lists {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 76vh;

    .project-item {
      width: calc(33.3333% - 20px);
      margin: 20px 10px;
    }
  }
}

.admin-projects-details {
  height: 100%;

  .page-title-section {

  }

  .task-lists {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 76vh;

    .task-item {
      width: calc(50% - 20px);
      margin: 20px 10px;
    }
  }

  .members-section {

    .team-members-section {
      margin: 10px;
    }

    .admin-members-section {
      margin: 10px;
    }

    .member-list {
      margin-top: 1em;
      height: 88%;
      overflow-y: auto;
    }
  }
}

.add-project-form {
  height: 100%;

  form {
    height: 97%;
  }
}
