@import "./src/assets/styles/theme";

section.projects{
  padding: $md;
  height: 100%;
  position: relative;

  .project-list{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    .project-item{
      width: 42%;
      margin: 4%;
    }

  }
}