@import "./src/assets/styles/theme";

.timer-section{
  .clock{
    margin: $md 0;
    display: flex;
    justify-content: center;
    .timer{
      height: 69px;
      width: 54px;
      background: white;
      font-size: $xl;
      display: flex;
      flex-direction: column;
      color: $primary-color;
      align-items: center;
      margin: 0 2px;
      &:first-child{
        border-radius: 8px 0 0 8px;
      }
      &:last-child{
        border-radius: 0 8px 8px 0;
      }
      .time-unit{
        font-size: $sm;
        font-weight: 400;
      }
    }
  }
  .btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}