@import '../../assets/styles/layout.scss';

.table {

    .table-content {
        border-radius: 10px;
        overflow: hidden;

        .table-header {
            display: flex;
            background-color: $primary-color;
            color: white;
            padding: 10px;
    
            .action-title {
                flex: 1;
                // Ninja technique 101
                color: $primary-color;
            }
        }
    
        .table-body {
    
            .table-row {
                display: flex;
                padding: 10px;
                border-bottom: 1px solid #d6d7dc;
    
                .table-actions {
                    display: flex;
                    flex: 1;

                    .table-action-item{
                        cursor: pointer;
                        font-size: $md;
                    }

                    .table-action-item:hover{
                        color: $secondary-color;
                    }
                }

                .table-body-items{
                    text-overflow: ellipsis;

                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
    
            .table-row:nth-child(odd) {
                background-color: #D4E0FF;
            }
    
            .table-row:nth-child(even) {
                background-color: #EFF0F6;
            }
        }
    }

    .pagination-area {
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }
}