@import "./src/assets/styles/theme";

.member-item {
    padding: $xxs $md;

    .image-container {
        height: 40px;
        width: 40px;
        border: 2px solid $primary-color;
        border-radius: 25px;

        img {
            border-radius: 25px;
            object-fit: cover;
        }
    }

    .member-info {
        padding-left: $sm;

        .member-username {
            color: #A0A3BD;
        }
    }
}