@import "src/assets/styles/theme";

section.login{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: $extension-height;
  width: $extension-width;
  margin: auto;
  .left-section{
    background: $primary-color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 44%;
    img{
      height: 48%;
    }

   .login-text{
     margin-top: 2rem;
     .login-1st-line{
       font-style: normal;
       font-weight: 600;
       font-size: 28px;
       line-height: 32px;
     }
     .login-2nd-line{
       font-style: normal;
       font-weight: 300;
       font-size: 24px;
       line-height: 32px;
     }
     .login-3rd-line{
       font-style: normal;
       font-weight: 500;
       font-size: 22px;
       line-height: 32px;
     }
   }
  }
  .login-form{
    padding: $xxl;
    width: 56%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .login-title{
      text-align: center;
      .dash{
        width: 36px;
        height: 7px;
        border-radius: $md;
        background-color: $primary-color;
        margin: $md auto;
      }

      p{
        margin: $md;
      };
    }
    .forgot-password{
      margin-top: $md;
    }
  }
}
