@import "./vars";

* {
  margin: 0;
  box-sizing: border-box;
}

.h-100 {
  height: 100%;
}

.d-flex,
%d-flex {
  display: flex;
}

.flex-centered,
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center,
%justify-center {
  justify-content: center;
}

.justify-flex-end,
%justify-center {
  justify-content: flex-end;
}

.align-center,
%align-center {
  align-items: center;
}

.align-end,
%align-end {
  align-items: flex-end;
}

.align-start,
%align-start {
  align-items: flex-start;
}

.justify-end,
%justify-end {
  justify-content: flex-end;
}

.justify-between,
%justify-between {
  justify-content: space-between;
}

.justify-around,
%justify-around {
  justify-content: space-around;
}

.justify-evenly,
%justify-evenly {
  justify-content: space-evenly;
}

.flex-wrap,
%flex-wrap {
  flex-wrap: wrap;
}

.align-content-start,
%align-content-start {
  align-content: flex-start;
}

.flex-one,
%flex-one {
  flex: 1;
}

.flex-column,
%flex-column {
  flex-direction: column;
}

.flex-column-reverse,
%flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse,
%flex-row-reverse {
  flex-direction: row-reverse;
}

.d-none {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.align-self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: flex-end;
}

//image
%image-cover,
.image-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

//
.w-100,
%w-100 {
  width: 100%;
}

.w-20,
%w-20 {
  width: 20%;
}

.w-30,
%w-30 {
  width: 30%;
}

//margins
.my-10px,
%my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20px,
%my-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-padding,
%wrapper-padding {
  padding: $padding-val;
  box-sizing: border-box;

}

.wrapper-padding::before,
%wrapper-padding::before {
  content: "";
  background-image: url("https://i.imgur.com/ksypSQI.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 90px;
  font-weight: 700;
  color: white
}

.breaker {
  position: relative;

  &::before {
    height: 5px;
    content: "";
    position: absolute;
    top: 100%;
    width: 40px;
    background: $accent-color;
  }
}

.input-white-box {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background: rgba(194, 190, 190, 0.05);
  border-radius: $border-radius;
  margin-bottom: 10px;
}

.form-group {
  box-sizing: border-box;

  .input-group {
    border-radius: $border-radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4px;

    label {
      width: 100%;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      font-size: 0.8rem;
      margin: 4px 0;

      span {
        color: red;
      }
    }

    div.input-box {
      display: flex;
      align-items: center;
      padding: 10px 6px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: $border-radius;

      input,
      select,
      textarea {
        flex: 1;
        background: transparent;
        border: none;
        font-family: $primary-font;
        font-size: 1.04rem;
        padding: 0 10px;

        &::placeholder {
          font-family: $primary-font;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.input-screen {
  color: white;
  background-color: rgb(51, 49, 49);
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.form-button {
  display: flex;
  justify-content: center;
}

.main-dash {
  display: flex;
  flex-direction: row;
  background-color: $light-dark-color;
  height: 100vh;
  .sidebar {
    .sub-title{
      font-size: $xxl;
    }
    .logo {
      .thin-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.9999998807907104px;
        text-align: left;
      }
    }

    .menu {

      .menu-items {
        padding: $sm 0;

        .menu-item {
          font-size: $md;
          margin-bottom: $md;
          padding: $xs;
          border-radius: $sm;
        }
      }
    }
  }
}

.sidebar {
  background-color: $primary-color;
  padding: $xl;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  max-width: 18em;
  color: white;
  justify-content: flex-start;

  .logo {
    .thin-text {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.9999998807907104px;
      text-align: left;

    }
  }

  .menu {
    margin: $xxl 0;

    .menu-items {
      padding: $md 0;
      display: flex;
      flex-direction: column;

      .menu-item {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: $md;
        margin-bottom: $xs;
        padding: $xs;
        border-radius: $sm;
        transition: background-color 0.3s, color 0.3s;

        .menu-label {
          margin-left: $xxl;
        }

        &:hover {
          background: $transparency;
          color: white;
        }

        &.active {
          background: $light-color;
          color: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    border-radius: $sm;
    padding: $sm;
    position: absolute;
    width: 84%;
    bottom: 10px;
    transition: background-color 0.3s, color 0.3s;

    .icon {
      margin-right: $xxl;
    }

    &:hover {
      background: $danger-color;
    }
  }
}

.title-red {
  font-size: 30px;
  color: red;
  font-family: cursive;
}

.title-blue {
  font-size: 30px;
  color: blue;
  font-family: cursive;
}

.nav-bar {
  background-color: $light-color;
  height: 10vh;
  margin: 1em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2em;

  .nav-items {
    display: flex;
    align-items: center;

    .search-bar {
      border-radius: 20px;
      padding: 8px 20px;
      height: 30px;
      display: flex;
      align-items: center;
      background-color: #F2F2F2;
      width: 350px;

      input {
        height: 20px;
        border: 0;
        background-color: transparent;
        width: 100%;
        font-size: 1.2rem;
      }

      input:focus {
        outline: none !important;
      }

      .search-btn {
        cursor: pointer;
        width: 1rem;
      }
    }

    .notification {
      width: 20px;
      display: flex;
      margin: 0 20px;

      img {
        width: 100%;
        filter: invert(47%) sepia(49%) saturate(2756%) hue-rotate(
                        207deg
        ) brightness(101%) contrast(104%);
      }
    }

    .user-profile {
      height: 40px;
      width: 40px;
      border: 2px solid $primary-color;
      border-radius: 25px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
      }
    }
  }
}

.selected-tab {
  font-size: 1.5em;
}

.main-body {
  background-color: $light-color;
  margin: 1em;
  height: 85vh;
  padding: 1em;
  border-radius: 10px;
}

.login-main-body {
  background-color: $light-color;
  margin: 1em;
  height: 85vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.model-background {
  background-color: black;
}

.emails-row {
  display: flex;;
  width: 77vw;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.analyze-link {
  color: blue;
}

.analyze-link:hover {
  cursor: pointer;
}

.division-line {
  width: 100%;
  height: 1px;
  background-color: rgba(154, 182, 255, 0.5);
  margin: $md 0;
}
