@import "./vars";
@import "./layout";

body {
  //background: rgba(0, 0, 0, 0.012);
  font-family: $primary-font;
  color: $font-color;
}

//scrollbar
/* width */
/* width */
::-webkit-scrollbar {
  width: 5px;
  // display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
//backgrounds
.primary-background {
  background: $primary-color;
}

.accent-background {
  background: $accent-color;
}

.light-background {
  background: $light-color;
}
.warning-background {
  background: $warning-color;
}

.light-text {
  color: $light-color;
}

.text-danger {
  color: $danger-color;
}
.error-text {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
//cards
.card,
%card {
  padding: 10px;
  box-sizing: border-box;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  overflow: hidden;
  transition: 0.3s;
}

//buttons
.btn {
  border: none;
  padding: 8px 30px;
  box-shadow: $button-shadow;
  border-radius: $button-radius;
  transition: 0.3s;
  font-family: $primary-font;
  margin-right: 3px;
  cursor: pointer;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &.danger {
    color: white;
    background: $danger-color;
  }
  &.success {
    color: white;
    background: $success-color;
  }

  &:disabled {
    filter: brightness(0.8);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(1.1);
  }

  &.big {
    font-size: 1.1rem;
    padding: 10px 25px;
  }

  &.primary {
    background: $primary-color;
    color: $light-color;
    &:disabled {
      background: $disabled_color;
    }
    &.shaded {
      box-shadow: 0 10px 25px #ff69594f;
    }
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;

    &.shaded {
      box-shadow: 0 10px 25px #ff69594f;
    }
  }

  &.white{
    color: $primary-color;
    background: white;
  }

  &.primary-outline {
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background: $primary-color;
      color: $light-color;
    }
  }

  &.accent-outline {
    color: $accent-color;
    border: 1px solid $accent-color;
    background: transparent;

    &:hover {
      background: $accent-color;
      color: $light-color;
    }
  }

  &.light-outline {
    color: $light-color;
    background: transparent;
    border: 1px solid $light-color;
    &:hover {
      background: rgba(255, 255, 255, 0.12);
    }
  }

  &.dark {
    background: $font-color;
    color: $light-color;
  }

  &.uppercase{
    text-transform: uppercase;
  }

  &.submit{
    position: absolute;
    bottom: $md;
    right: $md;
  }
}

.primary-text {
  color: $primary-color;
}

.accent-text {
  color: $accent-color;
}

.white-text{
  color: white;
}

.bold {
  font-weight: bolder;
}

.clock{
  font-family: $clock-font;
}

.icon-btn {
  height: 30px;
  width: 30px;
  background: transparent;
  @extend %flex-centered;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;

  &.circular {
    border-radius: 50%;
  }

  &.primary {
    background: $primary-color;
    color: white;
  }

  &.dark {
    background: $font-color;
    color: white;
  }

  &.light {
    border: 1px solid $light-color;

    i {
      color: white;
    }

    &:hover {
      background: $light-color;

      i {
        color: $primary-font;
      }
    }
  }
}

.dark-mode {
  background: $font-color;
  color: $light-color;
}

//
.view {
  height: 100vh;
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
  display: block;
}

//texts
%big-title,
.big-title {
  font-family: $title-font;
  font-size: 3rem;
  font-weight: bold;
}

%text-right,
.text-right {
  text-align: right;
}

%text-center,
.text-center {
  text-align: center;
}

%text-left,
.text-left {
  text-align: left;
}

%title,
.title {
  font-size: $xxxl;
}

%sub-title,
.sub-title {
  font-size: $xl;
}

.primary-text{
  color: $primary-color;
}

.error-text{
  color: $danger-color;
}

.primary-link {
  font-family: $primary-font;
  margin: 10px 0;
  color: $primary-color;
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

//animations
.fadeIn,
%fadeIn {
  animation: 0.3s fadeIn;
}

//
.logo {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

//cursor
.pointer{
  cursor: pointer;
}


