@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital@0;1&display=swap');

$primary-color: #5786FF;
$success-color:#4caf50;
$danger-color: #f44336;
$warning-color: #ff9800;
$secondary-color:#0a96c1;
$disabled_color: #474545;

$font-color: #4E4B66;
$accent-color: #4c8d29;
$light-color: white;
$light-dark-color:#ddd;
$primary-gradient:linear-gradient(330deg,#00bcd4,#2196f3);
$primary-button-shadow:#1b9cee9e;
$transparency: rgba(0,0,0,0.12);
$primary-hover: #005a91;
$background-color: #F2F2F2;

//fonts
$title-font: 'Poppins', serif;
$title-size:2rem;
$sub-title-size:1.6rem;
$primary-font: 'Poppins', serif;
$clock-font: 'Quantico', sans-serif;
$card-shadow: 2px 2px 16px rgba(0,0,0,0.12);
$button-shadow: 1px 1px 8px rgba(0,0,0,0.12);
$border-radius: 8px;
$button-radius: 8px;

$md: 0.9rem;
$xl: 1.2rem;
$xxl: 1.4rem;
$xxxl: 1.8rem;
$sm: 0.8rem;
$xs: 0.7rem;
$xxs: 0.6rem;

//layout
$padding-val:7.5vw;
$section-padding: 10vh 7.5vw;

//extension
$extension-height:600px;
$extension-width: 758px;
